body {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  line-height: 1.5em;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 4px #000 solid;
  margin-bottom: 10px;
}

input[type=button] {
  width: 10vw;
  font-size: 30px;
  border-radius: 0;
}

#container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
